<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<integer>2</integer>
	<key>2</key>
	<integer>4</integer>
	<key>3</key>
	<integer>6</integer>
	<key>4</key>
	<integer>0</integer>
</dict>
</plist>
